<main class="main">
  <div class="inner">
      <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
       <div class="greeting">
        <%= link_to "#{current_user.nickname} さんとしてログイン中です", root_path(current_user), class: :greeting__link%>
      </div>
      <% end %>
        <%# // ログインしているときは上記を表示する %>
    
  </div>
</main>